<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.png">

    <title>Destructive Farm - Server</title>

    <link href="/static/css/bootswatch-flatly.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <img class="logo" src="/static/img/dvteam_white.png">
    <div class="navbar-brand">Destructive Farm</div>
</nav>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-lg-8">
            <div class="card border-light">
                <div class="card-body">
                    <h4 class="card-title">Show Flags</h4>
                    <form id="show-flags-form">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <label for="sploit-select">Sploit</label>
                                <select class="form-control form-control-sm" id="sploit-select" name="sploit">
                                    <option value="">All</option>
                                    {% for item in distinct_values['sploit'] %}
                                    <option>{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="team-select">Team</label>
                                <select class="form-control form-control-sm" id="team-select" name="team">
                                    <option value="">All</option>
                                    {% for item in distinct_values['team'] %}
                                    <option>{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="flag-input">
                                    Flag
                                    <small class="text-muted ml-2">substring, case-insensitive</small>
                                </label>
                                <input type="text" class="form-control form-control-sm" id="flag-input" name="flag">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="time-since-input">
                                    Since
                                    <small class="text-muted ml-2">{{ server_tz_name }}</small>
                                </label>
                                <input type="text" class="form-control form-control-sm" id="time-since-input"
                                       name="time-since"
                                       placeholder="yyyy-mm-dd hh:mm">
                            </div>
                            <div class="col-md-3">
                                <label for="time-until-input">
                                    Until
                                    <small class="text-muted ml-2">{{ server_tz_name }}</small>
                                </label>
                                <input type="text" class="form-control form-control-sm" id="time-until-input"
                                       name="time-until"
                                       placeholder="yyyy-mm-dd hh:mm">
                            </div>
                            <div class="col-md-2">
                                <label for="status-select">Status</label>
                                <select class="form-control form-control-sm" id="status-select" name="status">
                                    <option value="">All</option>
                                    {% for item in distinct_values['status'] %}
                                    <option>{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="checksystem-response-input">
                                    Checksystem response
                                </label>
                                <input type="text" class="form-control form-control-sm" id="checksystem-response-input"
                                       name="checksystem_response">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-sm submit-btn">Show</button>
                            </div>
                        </div>
                        <input type="hidden" value="1" id="page-number" name="page-number">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border-light">
                <div class="card-body">
                    <h4 class="card-title">Add Flags Manually</h4>
                    <form id="post-flags-manual-form">
                        <label for="text-with-flags">
                            Text with flags
                            <small class="text-muted ml-2">flag format: {{ flag_format }}</small>
                        </label>
                        <textarea class="form-control form-control-sm mb-3" id="text-with-flags" name="text"></textarea>
                        <button type="submit" class="btn btn-primary btn-sm">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 text-center query-status"></div>

    <div class="search-results" style="display: none;">
        <p>Found <span class="total-count"></span> flags</p>

        <ul class="pagination pagination-sm"></ul>

        <table class="table table-hover">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Sploit</th>
                <th scope="col">Team</th>
                <th scope="col">Flag</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Checksystem Response</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <ul class="pagination pagination-sm"></ul>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/ui.js"></script>

</body>
</html>
