<!DOCTYPE html>
<html>
<head>
    <title>Farm Server</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Destructive Farm Server</h1>

    <p>
        Last <a href="/?last-minutes=2">2</a>, <a href="/?last-minutes=5">5</a>,
        <a href="/?last-minutes=10">10</a> minutes
    </p>

    {% if has_conditions %}
    <p>
        <a href="/">Reset filters</a>
    </p>
    {% endif %}

    <p>Generated for {{ '{:.0f}'.format(gen_time * 1000) }} ms.</p>

    <table>
        <tr>
            <th>Flag</th>
            <th>Sploit</th>
            <th>Team</th>
            <th>Time</th>
            <th>Status</th>
            <th>Checksystem Response</th>
        </tr>

    {% for item in flags %}
        <tr>
            <td>{{ item.flag }}</td>
            <td><a href="/?sploit={{ item.sploit }}">{{ item.sploit }}</a></td>
            <td><a href="/?team={{ item.team }}">{{ item.team }}</a></td>
            <td>{{ (item.time|timestamp_to_datetime).strftime('%H:%M:%S') }}</td>
            <td><a href="/?status={{ item.status }}">{{ item.status }}</a></td>
            <td>{{ item.checksystem_response }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
